/* global.css */
/*全局样式*/

body {
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin: 0;
}

/* 覆盖Element UI的样式 */
.el-button {
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    /* 其他需要覆盖的样式 */
    font-size: 15px;
}

.el-container {
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    /* 其他需要覆盖的样式 */
    font-size: 16px;
    padding: 0 0;
    margin: 0 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.el-footer{
 --el-footer-padding: 0 0px;
}
.el-main{
    padding: 0 0;
    overflow: clip;
}